<div>
    <h1>People</h1>
{{#each peopleArray}}
   <img src="https://www.themoviedb.org/t/p/w220_and_h330_face{{poster_path}}" alt="{{name}}"> 
   <p>Popularity: {{popularity}}</p>
   <p>{{cast}}</p>
{{/each}}
</div>