body {
  padding: 50px;
  font: 20px 'PT Sans Narrow', sans-serif;
  background-color:#a7f5e4;
}

a {
  color: #35ac92;
}

h1 {
  color: #3aa890;
}

#posters {
  max-height: 300px; 
  object-fit: cover;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

#nav-bg{ 
  border-radius: 9%;
}

#card {
  border-radius: 10%;
}

.navbar-brand {
  color: #49af9a;
}

.nav-link {
  color: #4ae7c5;
}

.navbar {
  background-color: #024537;
}

.navbar-toggler { 
  background-color: #4ae7c5;
  border-radius: 30%;
}

.navbar-toggle-icon {
  color: #024537;
}
.carousel-inner {
  border-radius: 2%;
}

#login-form {
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 60%;
  border-radius: 5%;
}

#signup-form {
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 50%;
  border-radius: 5%;
}

#review-link {
  margin-left: 40%;
}

